---
- include: xorg_packages.yml

- name: install lightdm + greeter + locker
  pacman: package={{ item }} state=present
  become: yes
  with_items:
  - lightdm
  - lightdm-gtk-greeter
  - light-locker
- name: enable lightdm gtk greeter by default
  lineinfile: >
    dest=/etc/lightdm/lightdm.conf
    line="greeter-session=lightdm-gtk-greeter"
    insertafter="^\[Seat\:\*\]$"
  become: yes
- name: enable lightdm
  service: name=lightdm enabled=yes
  become: yes
- name: enable lightdm gtk greeter indicators
  lineinfile: >
    dest=/etc/lightdm/lightdm-gtk-greeter.conf
    line="indicators=~clock;~spacer;~power"
    regexp="^#?indicators="
  become: yes

- name: configure xkb input languages
  copy: src=templates/xorg/10-xkb.conf dest=/etc/X11/xorg.conf.d/10-xkb.conf
  become: yes
- name: install language switcher
  pacman: package=sbxkb state=present
  become: yes
- name: ensure flags icons directory exists
  file: path={{ ansible_env.HOME }}/.icons/flags state=directory recurse=yes
- name: copy flags for sbxkb
  copy: src=templates/flags/{{ item }} dest={{ ansible_env.HOME }}/.icons/flags/{{ item }}
  with_items:
  - us.png
  - by.png
  - ru.png

- name: install awesomewm
  pacman: package={{ item }} state=present
  become: yes
  with_items:
  - awesome
  - vicious
  - alsa-utils  # volume widget
  - wireless_tools  # wi-fi widget
- name: ensure awesomewm configuration dir exists
  file: path={{ ansible_env.HOME }}/.config/awesome state=directory recurse=yes
- name: copy awesomewm config
  copy: src=templates/awesome/rc.lua dest={{ ansible_env.HOME }}/.config/awesome/rc.lua
- name: copy awesomewm wallpaper
  copy: src=templates/awesome/background.jpg dest={{ ansible_env.HOME }}/.config/awesome/background.jpg

- name: install terminal emulator
  pacman: package={{ item }} state=present
  become: yes
  with_items:
  - rxvt-unicode
  - urxvt-perls
- name: configure terminal emulator
  copy: src=templates/Xdefaults dest={{ ansible_env.HOME }}/.Xdefaults

- include: multimedia.yml

- name: install browsers
  pacman: package={{ item }} state=present
  become: yes
  with_items:
  - firefox
  - firefox-extension-ghostery
  - firefox-adblock-plus
  - firefox-noscript
  - chromium

- name: install fonts
  pacman: package={{ item }} state=present
  become: yes
  with_items:
  - ttf-anonymous-pro
  - ttf-bitstream-vera
  - ttf-dejavu
  - ttf-droid
  - ttf-freefont
  - ttf-inconsolata
  - ttf-liberation
  - ttf-ubuntu-font-family
  - ttf-symbola

- name: install Intel AMT management software
  pacman: package={{ item }} state=present
  become: yes
  with_items:
  - remmina
  - libvncserver
