[Unit]
Description=Lock on suspend
Before=sleep.target

[Service]
User={{ ansible_user_id }}
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/lock

[Install]
WantedBy=sleep.target
