---
- name: "install ntp"
  pacman: name=ntp state=installed
  become: yes
- name: "enable ntp"
  systemd: name=ntpd enabled=yes state=started
  become: yes

- name: "install btrfs progs"
  pacman: name=btrfs-progs state=installed
  become: yes

- name:  install netctl and related tools
  pacman: name={{ item }} state=installed
  become: yes
  with_items:
  - netctl
  - dialog  # used by wifi-menu
  - wpa_supplicant
  - wpa_actiond  # used by netctl-auto
  - ifplugd  # used by netctl-ifplugd

- name: enable netctl-auto
  systemd: name=netctl-auto@{{ wlan0 }} enabled=yes state=started
  become: yes
  when: wlan0 != 'none'

- name: install openvpn and related tools
  pacman: name={{ item }} state=installed
  become: yes
  with_items:
  - openvpn
  - openresolv
- name: copy update-resolv-conf
  copy: >
    src=templates/openvpn/update-resolv-conf
    dest=/usr/bin/update-resolv-conf
    mode=ugo=rx
    owner=root
  become: yes

- name: install 3g modem software
  pacman: name={{ item }} state=installed
  with_items:
  - wvdial

- name: install network-related utils
  pacman: name=net-tools state=installed
  become: yes
