[Unit]
Description=GNOME Keyring Daemon
IgnoreOnIsolate=true
After=user-env.service
Requires=user-env.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/gnome-keyring-daemon --start -f -c %t/keyring

[Install]
WantedBy=default.target
